<div id="symptoms-container">
    <h3 class="title" transloco="SYMPTOMS_TITLE"></h3>
    <mat-selection-list class="symptom-list" *ngIf="symptoms$ | async as symptoms; else loading" #symptoms
        [multiple]="false">
        <mat-list-option class="symptom-list-item" *ngFor="let symptom of symptoms" [value]="symptom">
            <div class="symptom-label-container">
                <div class="symptom-label">{{ symptom.label }}</div>
            </div>
            <div class="buttons-container">
                <button mat-icon-button class="edit-symptom" (click)="openAddDialog(symptom)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button class="delete-symptom"
                    (click)="openDeleteDialog(symptom.key, symptom.label)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-list-option>
    </mat-selection-list>
</div>

<div class="add-button-container">
    <button mat-fab color="primary" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>