<div class="symptoms-page-container">
    <header class="page-header">
        <h1 class="page-title">{{ 'SYMPTOMS_TITLE' | transloco }}</h1>
    </header>

    <div class="symptoms-list-container" *ngIf="symptoms$ | async as symptoms; else loading">
        <!-- Add New Symptom Card -->
        <div class="symptom-card add-card" (click)="openAddDialog()" matRipple>
            <div class="symptom-info">
                <span class="symptom-label add-label">{{ 'ADD_NEW_SYMPTOM_LABEL' | transloco }}</span>
            </div>
            <div class="add-icon-container">
                <mat-icon>add_circle_outline</mat-icon>
            </div>
        </div>

        <div class="symptom-card" *ngFor="let symptom of symptoms">
            <div class="symptom-info">
                <span class="symptom-label">{{ symptom.label }}</span>
            </div>
            <div class="symptom-actions">
                <button mat-icon-button class="action-btn edit-btn" (click)="openAddDialog(symptom)" matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button class="action-btn delete-btn"
                    (click)="openDeleteDialog(symptom.key, symptom.label)" matTooltip="Delete">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>

        <div class="empty-state" *ngIf="symptoms.length === 0">
            <p>{{ 'NO_SYMPTOMS' | transloco }}</p>
        </div>

    </div>



    <ng-template #loading>
        <div class="loading-container">
            <mat-spinner diameter="40"></mat-spinner>
        </div>
    </ng-template>
</div>