<mat-card *ngIf="dayContent$ | async as dayContent">
    <mat-card-title>
        {{ dayContent.date | date }}
    </mat-card-title>
    <mat-card-subtitle>
        <p>Wake up: {{ dayContent.wakeUp }}</p>
        <p>Go to bed: {{ dayContent.goToBed }}</p>
    </mat-card-subtitle>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let content of dayContent.content" [ngSwitch] = "content.type">
                <div *ngSwitchCase="'symptomLog'">
                    [{{ content.type }}] {{ content.time }} : {{ content.key }} --&rsaquo; {{ content.pain }} {{ content.detail }}
                </div>
                <div *ngSwitchCase="'log'">
                    [{{ content.type }}] {{ content.time }} : {{ content.detail }}
                </div>
                <div *ngSwitchCase="'med'">
                    [{{ content.type }}] {{ content.time }} : {{ content.key }} {{ content.quantity }}
                </div>
                <div *ngSwitchCase="'meal'">
                    [{{ content.type }}] {{ content.time }} : {{ content.detail }}
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>