<div id="calendar-container" *ngIf="overviews$ | async as overviews; else loading">
	<div class="calendar-header">
		<div class="calender-header-label">{{ monthMap.get(month) }}, {{ year }}</div>
	</div>
	<div class="grid-list">
		<div *ngFor="let overview of overviews"
			class="grid-tile color-{{ symptomPainColorMap.get(overview.getSymptomPain(globalService.targetSymptomKey)) }}">
			<div class="header">
				<div *ngIf="today.day !== overview.detailedDate.day || today.month !== overview.detailedDate.month 
				|| today.year !== overview.detailedDate.year; else todayDiv" class="day-label">
					{{ overview.detailedDate.day }}</div>
				<ng-template #todayDiv>
					<div class="day-label day-label-today">{{ overview.detailedDate.day }}</div>
				</ng-template>
			</div>
		</div>
	</div>

	<div class="buttons-container">
		<div class="previous-button">
			<button mat-fab color="primary" aria-label="Previous" (click)="previous()">
				<mat-icon>chevron_left</mat-icon>
			</button>
		</div>
		<div class="next-button">
			<button mat-fab color="primary" aria-label="Next" (click)="next()">
				<mat-icon>chevron_right</mat-icon>
			</button>
		</div>
	</div>
</div>

<ng-template #loading>
	<mat-spinner></mat-spinner>
</ng-template>