<div class="grid-list" id="calendar-container" *ngIf="overviews$ | async as overviews; else loading">
	<div *ngFor="let overview of overviews"
		class="grid-tile color-{{ symptomPainColorMap.get(overview.getSymptomPain(app.targetSymptomKey)) }}">
		<div class="header">
			<div *ngIf="today.day !== overview.detailedDate.day; else todayDiv" class="day-label">
				{{ overview.detailedDate.day }}</div>
			<ng-template #todayDiv>
				<div class="day-label day-label-today">{{ overview.detailedDate.day }}</div>
			</ng-template>
		</div>
	</div>
</div>

<ng-template #loading>
	<mat-spinner></mat-spinner>
</ng-template>