#logs-container {
    position: relative;
    top: auto;
    left: 0;
    width: 100%;

    .title {
        margin-left: 1rem;
        margin-top: 0.8rem;
        font-size: 1.5rem;
        color: #212121;
    }
}

.log-list {
    margin-bottom: 2rem;
    width: 96%;
    margin-left: 2%
}

.log-label-container {
    height: 3rem;
    width: 10rem;
    padding-top: 1rem;
    float: left;
    display: table;
    position: relative;
    overflow-x: auto;
}

.log-label {
    position: absolute;
    top: 30%;
    display: table-cell;
    vertical-align: middle;
}

.edit-log {
    display: inline-block;
    margin-left: 1rem;
}

.delete-log {
    display: inline-block;
    margin-left: 1rem;
}

.buttons-container {
    position: absolute;
    top: 10%;
    right: 0%;
    height: 2rem;
}

.add-button-container {
    position: absolute;
    bottom: 5rem;
    right: 1.5rem;
}

.empty-table {
    width: 70%;
    margin-left: 15%;
    margin-top: 4rem;
}
