<ng-template transloco let-t>
    <h1 mat-dialog-title>
        <span>{{ t('EDIT_SYMPTOM_OVERVIEW_DIALOG_TITLE', { 'symptom': data.symptomMap.get(data.symptomOverview.key) })
            }}</span>
    </h1>
</ng-template>
<div mat-dialog-content>
    <div class="custom-form-field">
        <mat-label transloco="PAIN" class="custom-label"></mat-label>
        <div id="pain-container">
            <ion-range [max]="painScale" [min]="0" [step]="1" [pin]="true" [(ngModel)]="painValue">
            </ion-range>
            <span class="pain-badge">{{ painValue }}</span>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()" transloco="CANCEL"></button>
        <button mat-button cdkFocusInitial (click)="onYesClick()" color="primary">
            <span transloco="SET"></span>
        </button>
    </div>
</div>