#symptoms-container {
    position: absolute;
    top: 3.5rem;
    width: 70%;
}

.symptom-list {
    margin-bottom: 2rem;
}

.symptom-label-container {
    height: 3rem;
    width: 10rem;
    padding-top: 1rem;
    float: left;
    display: table;
    position: relative;
    overflow-x: auto;
}

.symptom-label {
    position: absolute;
    top: 30%;
    display: table-cell;
    vertical-align: middle;
}

.edit-symptom {
    display: inline-block;
    margin-left: 1rem;
}

.delete-symptom {
    display: inline-block;
    margin-left: 1rem;
}

.buttons-container {
    position: absolute;
    top: 10%;
    right: 0%;
    height: 2rem;
}

.add-button-container {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
}