#settings-container {
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 100%;
}

.title {
    margin-left: 1rem;
}

.accordion {
    position: absolute;
    top: 4rem;
}

.icon-container {
    display: inline-block;
    width: 3rem;
    .icon-svg {
        margin-right: 1rem;
        width: 2rem;
    }
}
