<h1 mat-dialog-title>{{ data.date | date }}</h1>
<div mat-dialog-content>
    <div><mat-label>{{ data.customEvent.time }}</mat-label></div>
    <mat-label>{{ data.customEvent.key }}</mat-label>
    <div [ngSwitch]="data.customEvent.type">
        <div *ngSwitchCase="'symptomLog'">
            <div><mat-label>{{ data.customEvent.pain }}</mat-label></div>
            <div><mat-label>{{ data.customEvent.detail }}</mat-label></div>
        </div>
        <div *ngSwitchCase="'log'">
            <mat-label>{{ data.customEvent.detail }}</mat-label>
        </div>
        <div *ngSwitchCase="'med'">
            <mat-label>{{ data.customEvent.quantity }}mg</mat-label>
        </div>
        <div *ngSwitchCase="'meal'">
            <mat-label>{{ data.customEvent.detail }}</mat-label>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button cdkFocusInitial (click)="onYesClick()"
            color="primary">Update</button>
        <button mat-button (click)="onNoClick()">Close</button>
    </div>
</div>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>