<div id="calendar" *ngIf="overviews$ | async as overviews; else loading">
	<div *ngIf="symptoms$ | async as symptoms; else loading">
		<div id="calendar-container">
			<div class="calendar-header" [style.border-bottom]="globalService.calendarBlockView ? 'none' : ''">
				<div class="previous-button">
					<button mat-icon-button color="primary" aria-label="Previous" (click)="previous()">
						<mat-icon>chevron_left</mat-icon>
					</button>
				</div>
				<div class="calender-header-label">
					<ng-template transloco let-t>
						<p>{{ t('CALENDAR_HEADER_DATE', { month: t('MONTH-'+month), year: year }) }}</p>
					</ng-template>
				</div>
				<div class="next-button">
					<button mat-icon-button color="primary" aria-label="Next" (click)="next()">
						<mat-icon>chevron_right</mat-icon>
					</button>
				</div>
			</div>
			<div class="content">
				<div class="grid-list">
					<ng-container *ngIf="!globalService.calendarBlockView">
						<div class="grid-tile-header" *ngFor="let day of weekDays">
							<ng-template transloco let-t>
								{{ t('DAY-OF-WEEK-VERY-SHORT-' + day) }}
							</ng-template>
						</div>
					</ng-container>
					<div *ngFor="let slot of emptySlots" class="grid-tile empty-tile"></div>
					<div *ngFor="let overview of overviews"
						class="grid-tile color-{{ getPainColor(overview.getSymptomPain(globalService.targetSymptomKey)) }}"
						routerLink="/{{ overview.date }}">
						<div class="header">
							<div *ngIf="today.day !== overview.detailedDate.day || today.month !== overview.detailedDate.month 
				|| today.year !== overview.detailedDate.year; else todayDiv" class="day-label">
								{{ overview.detailedDate.day }}</div>
							<ng-template #todayDiv>
								<div class="day-label day-label-today">{{ overview.detailedDate.day }}</div>
							</ng-template>
						</div>
					</div>
				</div>
				<div class="help-container" *ngIf="symptoms.length > 0">
					<button mat-icon-button (click)="openHelpDialog()">
						<mat-icon>help</mat-icon>
					</button>
				</div>
				<!--button routerLink="/monthlyreport/{{ year }}-{{ month }}">Export</button-->
				<div class="charts">
					<div [ngClass]="symptoms.length > 1 ? 'pie-charts' : 'pie-chart'">
						<app-pie-chart *ngFor="let symptom of organizeSymptoms(symptoms)" [title]="symptom.label"
							[chart]="pieCharts.get(symptom.key)"></app-pie-chart>
					</div>
					<app-line-chart [title]="'MONTHLY_WAKEUPTIME'" [chart]="wakeUpChart" [timeFormat]="globalService.timeFormat"></app-line-chart>
					<app-line-chart [title]="'MONTHLY_BEDTIME'" [chart]="bedTimeChart" [timeFormat]="globalService.timeFormat"></app-line-chart>
					<app-line-chart [title]="'MONTHLY_SLEEP'" [chart]="sleepChart" [timeFormat]="globalService.timeFormat"></app-line-chart>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #loading>
	<mat-spinner></mat-spinner>
</ng-template>