#calendar-container {
    position: relative;
    width: 100%;
}

.calendar-header {
    position: relative;
    top: auto; // Reset
    width: 100%;
    height: 3.5rem;
    background-color: #9E9E9E;
    border-bottom: 1px solid white;
    text-align: center;
    color: white;
    z-index: 3;

    .calender-header-label {
        display: table;
        width: 50%;
        height: 100%;
        font-size: 1.2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        float: left;
        p {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
        }
    }

    .previous-button {
        display: table;
        height: 100%;
        float: left;
        width: 25%;
        .mat-icon-button {
            display: table-cell;
            vertical-align: middle;
            height: 3.5rem;
            width: 3.5rem;
            color: white;
            .mat-icon {
                font-size: 2.5rem;
                color: white;
                margin-right: 25%;
            }
        }
    }

    .next-button {
        display: table;
        height: 100%;
        float: left;
        width: 25%;
        .mat-icon-button {
            display: table-cell;
            vertical-align: middle;
            height: 3.5rem;
            width: 3.5rem;
            color: white;
            .mat-icon {
                font-size: 2.5rem;
                color: white;
                margin-right: 25%;
            }
        }
    }
}

.content {
    position: relative;
    top: auto;
    width: 100%;
    height: auto; // Let content determine height
    overflow-y: visible; // Let body scroll
}

.grid-tile {
    display: block;
    float: left;
    width: 14.28%;
    height: 5rem;
}

.grid-tile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 14.28%;
    height: 2rem;
    font-weight: bold;
    background-color: #9E9E9E;
    color: white;
}

.empty-tile {
    background-color: transparent;
}

.day-label {
    margin-top: 0.3rem;
    width: 3vh;
    height: 3vh;
    width: 100%;
    text-align: center;
}

.day-label-today {
    background-color: rgb(0, 174, 255);
    margin-left: 25%;
    color: white;
    font-size: 1rem;
    width: 3vh;
    height: 3vh;
    border-radius: 100%;
    padding: 0.2rem;
}

.charts {
    position: relative;
    clear: both;
    width: 100%;
    padding-top: 2rem;

    .pie-chart {
        height: 33vh;
        overflow-y: auto;
    }

    .pie-charts {
        height: 65vh;
        overflow-y: auto;
    }
}

.help-container {
    color: #0070C0;
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 2;
}

.color-default {
    /* color: #31AE1D; */
    background-color: var(--color-pain-0);
}

.color-pain-1 {
    background-color: var(--color-pain-1);
}

.color-pain-2 {
    background-color: var(--color-pain-2);
}

.color-pain-3 {
    background-color: var(--color-pain-3);
}

.color-pain-4 {
    background-color: var(--color-pain-4);
}

.color-pain-5 {
    background-color: var(--color-pain-5);
}
