<ng-template transloco let-t>
    <div mat-dialog-title>
        <span *ngIf="data.edit; else addSpan">
            {{ t('EDIT_EVENT_DIALOG_TITLE', { type: t(data.type), monthShort: t('MONTH-SHORT-'+data.detailedDate.month),
            day: data.detailedDate.day }) }}
        </span>
        <ng-template #addSpan>
            <span>
                {{ t('ADD_EVENT_DIALOG_TITLE', { type: t(data.type), monthShort:
                t('MONTH-SHORT-'+data.detailedDate.month), day: data.detailedDate.day }) }}
            </span>
        </ng-template>
    </div>
</ng-template>
<div mat-dialog-content>
    <div class="custom-form-field">
        <mat-label transloco="TIME" class="custom-label"></mat-label>
        <ion-item lines="none" class="ion-no-padding">
            <ion-datetime [displayFormat]="timeFormat === 12 ? 'h:mm A' : 'HH:mm'"
                [pickerFormat]="timeFormat === 12 ? 'h:mm A' : 'HH:mm'" [(ngModel)]="isoTime" placeholder="Select Time">
            </ion-datetime>
        </ion-item>
    </div>
    <div [ngSwitch]="data.type">
        <div *ngSwitchCase="'symptomLog'">
            <div class="dialog-symptom-field">
                <mat-form-field>
                    <mat-label>{{ data.type | transloco | titlecase }}</mat-label>
                    <mat-select [(ngModel)]="data.key" required>
                        <mat-option *ngFor="let symptom of data.symptoms" [value]="symptom.key">{{ symptom.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-mini-fab color="primary" routerLink="/symptoms" (click)="onSymptomsClick()"
                    class="dialog-add-symptom-list-button">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div *ngIf="data.symptoms.length === 0" class="empty-symptom-list-warning">
                <p transloco="TIMELINE_NO_SYMPTOMS_WARNING_1"></p>
                <p transloco="TIMELINE_NO_SYMPTOMS_WARNING_2"></p>
            </div>
            <div class="custom-form-field full-width">
                <mat-label transloco="PAIN" class="custom-label"></mat-label>
                <div id="pain-container">
                    <ion-range [max]="painScale" [min]="0" [step]="1" [pin]="true" [(ngModel)]="painValue">
                    </ion-range>
                    <span class="pain-badge">{{ painValue }}</span>
                </div>
            </div>
            <div class="custom-form-field full-width">
                <mat-label transloco="DETAIL" class="custom-label"></mat-label>
                <ion-item lines="none" class="ion-no-padding">
                    <ion-textarea [(ngModel)]="data.detail" rows="1" autoGrow="true"></ion-textarea>
                </ion-item>
            </div>
        </div>
        <div *ngSwitchCase="'log'">
            <mat-form-field>
                <mat-label>{{ data.type | transloco | titlecase }}</mat-label>
                <input type="text" matInput [formControl]="myControl" [(ngModel)]="data.key" [matAutocomplete]="autolog"
                    required>
                <mat-autocomplete #autolog="matAutocomplete" (optionSelected)="setLog($event.option.value)">
                    <mat-option *ngFor="let option of filteredLogsOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="custom-form-field full-width">
                <mat-label transloco="DETAIL" class="custom-label"></mat-label>
                <ion-item lines="none" class="ion-no-padding">
                    <ion-textarea [(ngModel)]="data.detail" rows="1" autoGrow="true"></ion-textarea>
                </ion-item>
            </div>
        </div>
        <div *ngSwitchCase="'med'">
            <mat-form-field>
                <mat-label>{{ data.type | transloco | titlecase }}</mat-label>
                <input type="text" matInput [formControl]="myControl" [(ngModel)]="data.key" [matAutocomplete]="automed"
                    required>
                <mat-autocomplete #automed="matAutocomplete" (optionSelected)="setMed($event.option.value)">
                    <mat-option *ngFor="let option of filteredMedsOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'QUANTITY' | transloco }} (mg)</mat-label>
                <input matInput [(ngModel)]="data.quantity">
            </mat-form-field>
        </div>
        <div *ngSwitchCase="'meal'">
            <mat-form-field>
                <mat-label>{{ data.type | transloco | titlecase }}</mat-label>
                <input matInput [(ngModel)]="data.key" required>
            </mat-form-field>
            <div class="custom-form-field full-width">
                <mat-label transloco="DETAIL" class="custom-label"></mat-label>
                <ion-item lines="none" class="ion-no-padding">
                    <ion-textarea [(ngModel)]="data.detail" rows="1" autoGrow="true"></ion-textarea>
                </ion-item>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()" transloco="CANCEL"></button>
        <button mat-button cdkFocusInitial (click)="onYesClick()" color="primary" [disabled]="!isValid()">
            <span *ngIf="data.edit; else addButton" transloco="EDIT"></span>
            <ng-template #addButton><span transloco="ADD"></span></ng-template>
        </button>
    </div>
</div>