<ng-template transloco let-t>
    <div class="bottom-sheet-container {{ data.type }}">

        <div class="header-section">
            <div class="title-row">
                <div class="icon-bubble">
                    <mat-icon *ngIf="data.type === 'symptomLog'">spa</mat-icon>
                    <mat-icon *ngIf="data.type === 'log'">event_note</mat-icon>
                    <img *ngIf="data.type === 'med'" src="/assets/svg/pill-capsule.svg" class="custom-svg" />
                    <img *ngIf="data.type === 'meal'" src="/assets/svg/curry-chronicles.svg" class="custom-svg" />
                    <mat-icon *ngIf="data.type === 'wakeUp'">alarm</mat-icon>
                    <mat-icon *ngIf="data.type === 'goToBed'">bedtime</mat-icon>
                </div>
                <div class="main-title">
                    <span *ngIf="data.edit">{{ t('EDIT') }}</span>
                    <span *ngIf="!data.edit && data.type !== 'wakeUp' && data.type !== 'goToBed'">{{ t('ADD') }}</span>
                    {{ t(data.type) | titlecase }}
                </div>
            </div>

            <div class="date-time-row">
                {{ t('SHOW_EVENT_DIALOG_TITLE', {'month': t('MONTH-'+data.detailedDate.month), 'day':
                data.detailedDate.day, 'year': data.detailedDate.year}) }}
            </div>
        </div>

        <div class="content-body">
            <!-- Time Field -->
            <div class="form-field">
                <div class="field-label">{{ t('TIME') }}</div>
                <div class="field-input-box">
                    <ion-item lines="none" class="ion-no-padding">
                        <ion-datetime [displayFormat]="timeFormat === 12 ? 'h:mm A' : 'HH:mm'"
                            [pickerFormat]="timeFormat === 12 ? 'h:mm A' : 'HH:mm'" [(ngModel)]="isoTime"
                            placeholder="Select Time">
                        </ion-datetime>
                    </ion-item>
                </div>
            </div>

            <div [ngSwitch]="data.type">
                <!-- Symptom Log -->
                <div *ngSwitchCase="'symptomLog'" class="form-fields-group">
                    <div class="form-field">
                        <div class="field-label">{{ t(data.type) | titlecase }}</div>
                        <div class="field-input-box">
                            <mat-form-field appearance="none" class="clean-select">
                                <mat-select [(ngModel)]="data.key" required>
                                    <mat-option *ngFor="let symptom of data.symptoms" [value]="symptom.key">{{
                                        symptom.label }}</mat-option>
                                    <mat-option value="__add_new__" (click)="onSymptomsClick()" class="add-new-option">
                                        <mat-icon>add</mat-icon> {{ t('ADD_NEW_SYMPTOM') }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div *ngIf="data.symptoms.length === 0" class="empty-warning">
                        <p transloco="TIMELINE_NO_SYMPTOMS_WARNING_1"></p>
                        <p transloco="TIMELINE_NO_SYMPTOMS_WARNING_2"></p>
                    </div>
                    <div class="form-field">
                        <div class="field-label">{{ t('PAIN') }}</div>
                        <div class="pain-input-container">
                            <ion-range [max]="painScale" [min]="0" [step]="1" [(ngModel)]="painValue">
                            </ion-range>
                            <span class="pain-badge">{{ painValue }}</span>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="field-label">{{ t('DETAIL') }}</div>
                        <div class="field-input-box">
                            <ion-item lines="none" class="ion-no-padding">
                                <ion-textarea [(ngModel)]="data.detail" rows="1" autoGrow="true"></ion-textarea>
                            </ion-item>
                        </div>
                    </div>
                </div>

                <!-- Log -->
                <div *ngSwitchCase="'log'" class="form-fields-group">
                    <div class="form-field">
                        <div class="field-label">{{ t(data.type) | titlecase }}</div>
                        <div class="field-input-box">
                            <mat-form-field appearance="none" class="clean-input">
                                <input type="text" matInput [formControl]="myControl" [(ngModel)]="data.key"
                                    [matAutocomplete]="autolog" required>
                                <mat-autocomplete #autolog="matAutocomplete"
                                    (optionSelected)="setLog($event.option.value)">
                                    <mat-option *ngFor="let option of filteredLogsOptions | async"
                                        [value]="option">{{option}}</mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="field-label">{{ t('DETAIL') }}</div>
                        <div class="field-input-box">
                            <ion-item lines="none" class="ion-no-padding">
                                <ion-textarea [(ngModel)]="data.detail" rows="1" autoGrow="true"></ion-textarea>
                            </ion-item>
                        </div>
                    </div>
                </div>

                <!-- Med -->
                <div *ngSwitchCase="'med'" class="form-fields-group">
                    <div class="form-field">
                        <div class="field-label">{{ t(data.type) | titlecase }}</div>
                        <div class="field-input-box">
                            <mat-form-field appearance="none" class="clean-input">
                                <input type="text" matInput [formControl]="myControl" [(ngModel)]="data.key"
                                    [matAutocomplete]="automed" required>
                                <mat-autocomplete #automed="matAutocomplete"
                                    (optionSelected)="setMed($event.option.value)">
                                    <mat-option *ngFor="let option of filteredMedsOptions | async"
                                        [value]="option">{{option}}</mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="field-label">{{ t('QUANTITY') }} (mg)</div>
                        <div class="field-input-box">
                            <mat-form-field appearance="none" class="clean-input">
                                <input matInput [(ngModel)]="data.quantity">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Meal -->
                <div *ngSwitchCase="'meal'" class="form-fields-group">
                    <div class="form-field">
                        <div class="field-label">{{ t(data.type) | titlecase }}</div>
                        <div class="field-input-box">
                            <mat-form-field appearance="none" class="clean-input">
                                <input matInput [(ngModel)]="data.key" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="field-label">{{ t('DETAIL') }}</div>
                        <div class="field-input-box">
                            <ion-item lines="none" class="ion-no-padding">
                                <ion-textarea [(ngModel)]="data.detail" rows="1" autoGrow="true"></ion-textarea>
                            </ion-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="actions">
            <button mat-stroked-button (click)="onNoClick()" class="cancel-button">
                {{ t('CANCEL') }}
            </button>
            <button mat-flat-button color="primary" (click)="onYesClick()" class="confirm-button"
                [disabled]="!isValid()">
                <span *ngIf="data.edit">{{ t('EDIT') }}</span>
                <span *ngIf="!data.edit && data.type !== 'wakeUp' && data.type !== 'goToBed'">{{ t('ADD') }}</span>
                <span *ngIf="!data.edit && (data.type === 'wakeUp' || data.type === 'goToBed')">{{ t('SET') }}</span>
            </button>
        </div>

        <app-spacer-item></app-spacer-item>

    </div>
</ng-template>