<div id="logs-container">
    <h3 class="title" transloco="LOGS_TITLE"></h3>

    <div *ngIf="logs$ | async as logs; else loading">
        <table mat-table #logs [dataSource]="logs" class="log-list mat-elevation-z8">

            <ng-container matColumnDef="key">
                <th mat-header-cell *matHeaderCellDef> {{ 'TABLE_NOTE' | transloco }} </th>
                <td mat-cell *matCellDef="let element"> {{ element.key }} </td>
            </ng-container>

            <ng-container matColumnDef="occurrences">
                <th mat-header-cell *matHeaderCellDef> {{ 'TABLE_OCCURRENCES' | transloco }} </th>
                <td mat-cell *matCellDef="let element"> {{ element.occurrences }} </td>
            </ng-container>

            <ng-container matColumnDef="lastEntry">
                <th mat-header-cell *matHeaderCellDef> {{ 'TABLE_LAST_ENTRY' | transloco }} </th>
                <td mat-cell *matCellDef="let element"> {{ element.lastEntry }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div *ngIf="logs.length === 0" class="empty-table">
            <p>{{ 'EMPTY_NOTES_1' | transloco }}&nbsp;<mat-icon>view_day</mat-icon>
            </p>
            <p>{{ 'EMPTY_NOTES_2' | transloco }}&nbsp;<mat-icon>refresh</mat-icon>
            </p>
        </div>
    </div>
</div>

<div class="add-button-container">
    <button mat-fab color="primary" (click)="openRefreshDialog()">
        <mat-icon>refresh</mat-icon>
    </button>
</div>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>