.day-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 56px - env(safe-area-inset-top));
    background-color: #fafafa;
}

.day-tile-header {
    position: absolute;
    top: 0;
    height: 3.5rem;
    width: 100%;
    background-color: #9E9E9E;
    color: white;
    font-size: 1.2rem;
    display: table;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .day-tile-header-date {
        height: 100%;
        width: 40%;
        font-size: 1rem;
        padding-left: 0.5rem;
        display: table-cell;
        vertical-align: middle;
    }

    .go-back-container {
        height: 100%;
        width: 5%;
        display: table-cell;
        vertical-align: middle;
        .go-back {
            margin-left: 20%;
        }
    }

    .toggle-chart-container {
        height: 100%;
        width: 5%;
        display: table-cell;
        vertical-align: middle;
    }
    
    .add-event-container {
        height: 100%;
        width: 5%;
        display: table-cell;
        vertical-align: middle;
        .add-event {
            margin-left: 5.5rem;
            z-index: 100;
        }
    }
    
    .delete-event-container {
        height: 100%;
        width: 5%;
        display: table-cell;
        vertical-align: middle;
        .delete-event {
            margin-left: 1rem;
            margin-right: 1rem;
            z-index: 100;
        }
    }
}

.day-tile-content {
    position: absolute;
    top: 3.5rem;
    height: calc(100% - 3.5rem);
    width: 100%;
}

.day-content {
    position: absolute;
    top: 0;
    width: 75%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.day-content::-webkit-scrollbar { /* Chrome, Safari and Opera */
    display: none;
}

.day-day-item-symptomLog {
    background-color: #FF3154;
}

.day-day-item-log {
    background-color: #98A2AE;
}

.day-day-item-med {
    background-color: #0096BF;
}

.day-day-item-meal {
    background-color: #31AE1D;
}

.event-chips {
    width: 70vw !important;
    height: 10vh !important;
    margin-left: 1rem !important;
    z-index: 5;

    .event-container {
        width: 100%;
        color: white;
    
        .event {
            display: table;
            height: 5vh;
            float: left;
        
            .event-time {
                display: table-cell;
                vertical-align: middle;
            }
            .event-time-eu {
                width: 12vw;
            }
            .event-time-us {
                width: 18vw;
            }
            
            .event-content-container {
                display: table-cell;
                vertical-align: middle;
                .event-detail {
                    height: 100%;
                    overflow-y: auto;
                    -ms-overflow-style: none;  /* IE and Edge */
                    scrollbar-width: none;  /* Firefox */
                }
                .event-detail::-webkit-scrollbar { /* Chrome, Safari and Opera */
                    display: none;
                }
            }
            .event-content-eu {
                width: 48vw;
            }
            .event-content-us {
                width: 42vw;
            }
        }
    }
}

.day-tile-chart {
    position: absolute;
    top: 10vh;
    width: 100%;
    z-index: 5; 
    .chart {
        height: 30vh;
    }
}

.event-container {
    width: 100%;
}

.event {
    display: inline;
    float: left;
}

.remove-event-container {
    position: absolute;
    right: 5%;
    top: 10%;

    .remove-event {
        font-size: 180%;
    }
}

.back {
    z-index: 100;
}

.day-chips-padding {
    height: 0.5rem;
}

.symptom-overview-container {
    position: absolute;
    top: 45%;
    right: 6%;
    height: 10%;
    width: 10%;
    z-index: 10;
}

.symptom-overview-icon {
    font-size: 250%;
}

.color-default {
    /* color: #31AE1D; */
    color: var(--color-pain-0);
}

.color-pain-1 {
    color: var(--color-pain-1);
}

.color-pain-2 {
    color: var(--color-pain-2);
}

.color-pain-3 {
    color: var(--color-pain-3);
}

.color-pain-4 {
    color: var(--color-pain-4);
}

.color-pain-5 {
    color: var(--color-pain-5);
}

.wakeup-container {
    position: absolute;
    top: 7rem;
    right: 0;
    width: 20%;
    height: 12.5%;
    background-color: #CECECE;
    border-radius: 0 0 0 100%;
     -moz-border-radius: 0 0 0 100%;
     -webkit-border-radius: 0 0 0 100%;
     z-index: 10;
}

.gotobed-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 12.5%;
    background-color: #CECECE;
    border-radius: 100% 0 0 0;
     -moz-border-radius: 100% 0 0 0;
     -webkit-border-radius: 100% 0 0 0;
}

.wakeup-time {
    position: relative;
    margin-top: 5%;
    margin-left: 20%;
    font-size: 120%;
    color: white;
    z-index: 15;
}

.wakeup-icon {
    position: absolute;
    right: 20%;
    top: 40%;
    font-size: 200%;
    color: #98A2AE;
    z-index: 11;
}

.gotobed-time {
    position: relative;
    margin-top: 65%;
    margin-left: 20%;
    font-size: 120%;
    color: white;
    z-index: 15;
}

.gotobed-icon {
    position: absolute;
    right: 20%;
    top: 20%;
    font-size: 200%;
    color: #98A2AE;
    z-index: 11;
}

.corner-decoration {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 60%;
    height: 40%;
    background-color: #EBEBEB;
    border-radius: 0 0 100% 0;
    -moz-border-radius: 0 0 100% 0;
    -webkit-border-radius: 0 0 100% 0;
}