<mat-card *ngIf="day$ | async as day">
    <mat-card-title>{{ day.date | date }}</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let content of day.content" [ngSwitch] = "content.type">
                <div *ngSwitchCase="'symptomLog'">
                    {{ content.time }} : {{ content.key }} --&rsaquo; {{ content.pain }} {{ content.detail }}
                </div>
                <div *ngSwitchCase="'log'">
                    {{ content.time }} : {{ content.detail }}
                </div>
                <div *ngSwitchCase="'med'">
                    {{ content.time }} : {{ content.key }} {{ content.quantity }}
                </div>
                <div *ngSwitchCase="'meal'">
                    {{ content.time }} : {{ content.detail }}
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>