#settings-container {
    position: relative;
    top: auto;
    left: 0;
    width: 100%;


    .title {
        margin-left: 1rem;
        margin-top: 0.8rem;
        font-size: 1.5rem;
        color: #212121;
    }

    .accordion {
        position: relative;
        top: auto;
        width: 100%;


        .mat-expansion-panel-header {
            .panel-title {
                width: 35%;
            }

            .panel-description {
                width: 60%;
                color: #757575;
            }

            .panel-icon {
                color: #757575;
            }
        }
    }
}

.icon-container {
    position: absolute;
    top: 0.2rem;
    display: inline-block;
    width: 3rem;
    .icon-svg {
        margin-right: 1rem;
        width: 2rem;
    }
}

.language-label {
    margin-left: 3rem;
}

#file-import {
    display: none;
}

.list-icon {
    width: 10%;
    float: left;
}

.list-item-text {
    color: #212121;
    width: 80%;
    float: left;
}

.field-select {
    width: 50%;
}

#generate-data-warning {
    margin-top: 1rem;
    margin-bottom: 1rem;

    #generate-data-warning-logo {
        float: left;
        margin-right: 1rem;
    }

    #generate-data-warning-text {
        width: 80%;
        float: left;
    }
}

#generateBackupButton {
    margin-top: 1rem;
}

#copyButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#copyButton:disabled {
    color: #5cb85c;
}

textarea {
    height: 5rem;
}

.list-icon-svg {
    width: 1.4rem;
    filter: grayscale(100%) contrast(375%);
    opacity: 0.5;
}



.save-text {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
}

.help-container {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    
    .help-icon {
        font-size: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.5rem;
        color: #3f51b5;
    }

    .help-text {
        font-size: 1rem;
        color: #212121;
    }
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    .toggle-label {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.87);
    }
}

.radio-group {
    display: flex;
    gap: 10px;
}

.radio-button {
    margin-left: 5px;
}