<div *ngIf="symptoms$ | async as symptoms" id="settings-container">
    <h3 class="title" transloco="SETTINGS_TITLE"></h3>
    <mat-accordion class="accordion">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header class="mat-expansion-panel-header">
                <div class="panel-title" transloco="SETTINGS_SYMPTOMS_TITLE"></div>
                <div class="panel-description" transloco="SETTINGS_SYMPTOMS_SUBTITLE"></div>
                <div class="panel-icon">
                    <mat-icon>spa</mat-icon>
                </div>
            </mat-expansion-panel-header>

            <div class="mat-expansion-panel-content">
                <mat-form-field class="field-select">
                    <mat-label transloco="DEFAULT_SYMPTOM_LABEL"></mat-label>
                    <mat-select [(value)]="selectedSymptom" (selectionChange)="setTargetSymptom()">
                        <mat-option *ngFor="let symptom of symptoms" [value]="symptom.key">{{ symptom.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="field-select">
                    <mat-label transloco="SETTINGS_PAIN_SCALE_LABEL"></mat-label>
                    <mat-select [(value)]="selectedPainScale" (selectionChange)="setPainScale()">
                        <mat-option [value]="5">0 - 5</mat-option>
                        <mat-option [value]="10">0 - 10</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="manage-symptoms-container">
                    <mat-selection-list multiple="false">
                        <mat-list-option routerLink="/symptoms">
                            <p class="list-item-text">{{ 'SYMPTOM_MANAGE_LINK' | transloco }}</p>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header class="mat-expansion-panel-header">
                <div class="panel-title" transloco="SETTINGS_MEDS_TITLE"></div>
                <div class="panel-description" transloco="SETTINGS_MEDS_SUBTITLE"></div>
                <div class="panel-icon">
                    <img src="/assets/svg/pill-capsule.svg" class="list-icon-svg" />
                </div>
            </mat-expansion-panel-header>

            <div class="mat-expansion-panel-content">
                <div class="manage-meds-container">
                    <mat-selection-list multiple="false">
                        <mat-list-option routerLink="/meds">
                            <p class="list-item-text">{{ 'MEDS_MANAGE_LINK' | transloco }}</p>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header class="mat-expansion-panel-header">
                <div class="panel-title" transloco="SETTINGS_LOGS_TITLE"></div>
                <div class="panel-description" transloco="SETTINGS_LOGS_SUBTITLE"></div>
                <div class="panel-icon">
                    <mat-icon>event_note</mat-icon>
                </div>
            </mat-expansion-panel-header>

            <div class="mat-expansion-panel-content">
                <div class="manage-meds-container">
                    <mat-selection-list multiple="false">
                        <mat-list-option routerLink="/logs">
                            <p class="list-item-text">{{ 'LOGS_MANAGE_LINK' | transloco }}</p>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header class="mat-expansion-panel-header">
                <div class="panel-title" transloco="SETTINGS_LANGUAGE_TITLE"></div>
                <div class="panel-description" transloco="SETTINGS_LANGUAGE_SUBTITLE"></div>
                <div class="panel-icon">
                    <mat-icon>language</mat-icon>
                </div>
            </mat-expansion-panel-header>

            <div class="mat-expansion-panel-content">
                <mat-form-field class="field-select">
                    <mat-label transloco="LANGUAGE"></mat-label>
                    <mat-select [(value)]="selectedLanguage" (selectionChange)="setActiveLanguage()">
                        <mat-option value="fr">
                            <div class="language-container">
                                <div class="icon-container"><img src="/assets/svg/france.svg" class="icon-svg" /></div>
                                <div class="language-label" transloco="FRENCH"></div>
                            </div>
                        </mat-option>
                        <mat-option value="en">
                            <div class="language-container">
                                <div class="icon-container"><img src="/assets/svg/united-kingdom.svg"
                                        class="icon-svg" />
                                </div>
                                <div class="language-label" transloco="ENGLISH"></div>
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header class="mat-expansion-panel-header">
                <div class="panel-title" transloco="SETTINGS_TIME_TITLE"></div>
                <div class="panel-description" transloco="SETTINGS_TIME_SUBTITLE"></div>
                <div class="panel-icon">
                    <mat-icon>access_time</mat-icon>
                </div>
            </mat-expansion-panel-header>

            <div class="mat-expansion-panel-content">
                <mat-form-field class="field-select">
                    <mat-label transloco="TIME_FORMAT"></mat-label>
                    <mat-select [(value)]="selectedTimeFormat" (selectionChange)="setTimeFormat()">
                        <mat-option value="eu">
                            <div class="language-container">
                                <div class="time-format-label" transloco="24H"></div>
                            </div>
                        </mat-option>
                        <mat-option value="us">
                            <div class="language-container">
                                <div class="time-format-label" transloco="12H"></div>
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header class="mat-expansion-panel-header">
                <div class="panel-title" transloco="SETTINGS_IMPORT_EXPORT_TITLE"></div>
                <div class="panel-description" transloco="SETTINGS_IMPORT_EXPORT_SUBTITLE"></div>
                <div class="panel-icon">
                    <mat-icon>import_export</mat-icon>
                </div>
            </mat-expansion-panel-header>

            <div class="mat-expansion-panel-content">
                <div class="import-export-buttons-container">
                    <mat-selection-list multiple="false">
                        <mat-list-option (click)="fileClickFire()">
                            <div class="list-icon">
                                <mat-icon>dynamic_feed</mat-icon>
                            </div>
                            <div class="list-item-text">
                                <p>{{ 'IMPORT' | transloco }}</p>
                            </div>
                        </mat-list-option>

                        <mat-list-option (click)="showManualBackupDiv()">
                         <div class="list-icon">
                                <mat-icon>save_alt</mat-icon>
                            </div>
                            <div class="list-item-text">
                                <p>{{ 'EXPORT' | transloco }}</p>
                            </div>
                        </mat-list-option>

                        <div id="manual-backup-div">
                            <mat-expansion-panel-header class="mat-expansion-panel-header">
                                <div class="panel-title" transloco="SETTINGS_MANUAL_SAVE_TITLE"></div>
                                <div class="panel-description" transloco="SETTINGS_MANUAL_SAVE_SUBTITLE"></div>
                            </mat-expansion-panel-header>
                            
                            <div class="mat-expansion-panel-content">
                                <button id="generateBackupButton" mat-raised-button color="primary"
                                    transloco="SETTINGS_MANUAL_SAVE_BUTTON" (click)="generateBackupData()"></button>
                                <div *ngIf="generateData">
                                    <button id="copyButton" mat-icon-button type="button" [disabled]="showCopySuccessMessage"
                                        (click)="copyToClipboard()">
                                        <mat-icon>file_copy</mat-icon>
                                        <ng-template transloco let-t>
                                            {{ showCopySuccessMessage ? t('COPIED') : t('COPY') }}
                                        </ng-template>
                                    </button>
                                    <textarea matInput #jsonBackupTextArea cdkAutosizeMinRows="1"
                                        cdkAutosizeMaxRows="5">{{ backupData }}</textarea>
                                </div>
                            </div>
                            <div class="save-text">
                                <p>
                                    {{ 'SAVE_TEXT_1' | transloco }} <a href="https://life-notes.fr{{ 'PREFIX' | transloco }}tools/save/">{{ 'SAVE_TEXT_2' | transloco }}</a>
                                </p>
                            </div>
                        </div>

                    </mat-selection-list>
                </div>
                <input type="file" id="file-import" (change)="importDataWeb($event)">
            </div>

        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header class="mat-expansion-panel-header">
                <div class="panel-title" transloco="SETTINGS_TUTORIAL_TITLE"></div>
                <div class="panel-description" transloco="SETTINGS_TUTORIAL_SUBTITLE"></div>
                <div class="panel-icon">
                    <mat-icon>help</mat-icon>
                </div>
            </mat-expansion-panel-header>

            <div class="mat-expansion-panel-content">
                <div class="manage-meds-container">
                    <mat-selection-list multiple="false">
                        <mat-list-option routerLink="/tutorial">
                            <p class="list-item-text">{{ 'SETTINGS_TUTORIAL_LINK' | transloco }}</p>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header class="mat-expansion-panel-header">
                <div class="panel-title" transloco="SETTINGS_CUSTOMIZATION_TITLE"></div>
                <div class="panel-description" transloco="SETTINGS_CUSTOMIZATION_SUBTITLE"></div>
                <div class="panel-icon">
                    <mat-icon>build</mat-icon>
                </div>
            </mat-expansion-panel-header>

            <div class="mat-expansion-panel-content">
                <div class="toggle-container">
                    <span class="toggle-label" transloco="SETTINGS_HIDE_DEVELOPER_UPDATES_LABEL"></span>
                    <mat-slide-toggle [(ngModel)]="hideDeveloperUpdates" (change)="setHideDeveloperUpdates()" color="primary"></mat-slide-toggle>
                </div>
                <div class="toggle-container">
                    <span class="toggle-label" transloco="SETTINGS_SHOW_DEVELOPER_MODE_LABEL"></span>
                    <mat-slide-toggle [(ngModel)]="showDeveloperMode" (change)="setShowDeveloperMode()" color="primary"></mat-slide-toggle>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle *ngIf="showDeveloperMode">
            <mat-expansion-panel-header class="mat-expansion-panel-header">
                <div class="panel-title" transloco="SETTINGS_ADVANCED_TITLE"></div>
                <div class="panel-description" transloco="SETTINGS_ADVANCED_SUBTITLE"></div>
                <div class="panel-icon">
                    <mat-icon>developer_mode</mat-icon>
                </div>
            </mat-expansion-panel-header>

            <div class="mat-expansion-panel-content">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="mat-expansion-panel-header">
                        <div class="panel-title" transloco="SETTINGS_ERROR_LOGS_TITLE"></div>
                        <div class="panel-description" transloco="SETTINGS_ERROR_LOGS_SUBTITLE"></div>
                    </mat-expansion-panel-header>

                    <div class="mat-expansion-panel-content">
                        <p>{{ debug }}</p>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="mat-expansion-panel-header">
                        <div class="panel-title">Show origin</div>
                        <div class="panel-description" transloco="Window location origin"></div>
                    </mat-expansion-panel-header>

                    <div class="mat-expansion-panel-content">
                        <p>{{ getWindowLocationOrigin() }}</p>
                    </div>
                </mat-expansion-panel>

            </div>

        </mat-expansion-panel>

    </mat-accordion>
</div>
