.timeline-grid {
    position: absolute;
    left: 0;
    top: 3.5rem;
    width: 100%;
}

.timeline-tile-header {
    height: 15% !important;
}

.timeline-tile-content {
    width: 100%;
    height: 100%;
    position: relative;
    float: bottom;
}

.timeline-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 85%;
    overflow-y: auto;
}

.timeline-day-item-symptomLog {
    background-color: #FF3154;
}

.timeline-day-item-log {
    background-color: #98A2AE;
}

.timeline-day-item-med {
    background-color: #0096BF;
}

.timeline-day-item-meal {
    background-color: #31AE1D;
}

.event-chips {
    width: 70vw !important;
    height: 5vh !important;
    margin-left: 1rem !important;
}

.event-container {
    width: 100%;
}

.event {
    display: inline;
    float: left;
}

.remove-event-container {
    display: inline;
    float: right;
    height: 1.1rem;
}

.add-event {
    margin-left: 10rem !important;
    z-index: 100;
}

.delete-event {
    z-index: 100;
}

.timeline-chips-padding {
    height: 0.5rem;
}
