<div *ngIf="daysContents$ | async as daysContents; else loading" cols="1" gutterSize="0" class="timeline-grid">
	<div *ngIf="symptoms$ | async as symptoms; else loading">
		<div class="tiles-container">
			<app-infinite-scroll (scrolled)="loadBatch()">
				<div *ngFor="let dayContent of daysContents" #dayRefs class="timeline-tile"
					id="day-{{ dayContent.date }}">
					<div class="timeline-tile-header">
						<ng-template transloco let-t>
							<div class="timeline-tile-header-date">
								{{ t('TIMELINE_TILE_DATE',
								{'month': t('MONTH-SHORT-' + dayContent.detailedDate.month), 'day':
								dayContent.detailedDate.day, 'year': dayContent.detailedDate.year}) }}
							</div>
						</ng-template>
						<div class="go-to-day-container">
							<button mat-icon-button class="go-to-day" routerLink="/{{ dayContent.date }}">
								<mat-icon>arrow_forward_ios</mat-icon>
							</button>
						</div>
						<div class="add-event-container">
							<button mat-icon-button (click)="openBottomSheet(dayContent.date)" class="add-event">
								<mat-icon>playlist_add</mat-icon>
							</button>
						</div>
						<div class="delete-event-container">
							<button mat-icon-button class="delete-event" (click)="toggleRemovable(dayContent)">
								<mat-icon>delete_sweep</mat-icon>
							</button>
						</div>
					</div>
					<div class="timeline-tile-content">
						<div class="corner-decoration"></div>
						<div class="wakeup-container" (click)="openAddDialog('wakeUp', dayContent.date)">
							<mat-icon class="wakeup-icon">alarm</mat-icon>
							<div class="wakeup-time">{{ dayContent.wakeUp }}</div>
						</div>
						<div class="gotobed-container" (click)="openAddDialog('goToBed', dayContent.date)">
							<mat-icon class="gotobed-icon">bedtime</mat-icon>
							<div class="gotobed-time">{{ dayContent.goToBed }}</div>
						</div>
						<div class="timeline-content">
							<mat-chip-list class="mat-chip-list-stacked">
								<div class="timeline-chips-padding"></div>
								<mat-chip *ngFor="let content of dayContent.content" [ngSwitch]="content.type"
									class="mat-chip mat-standard-chip timeline-day-item-{{ content.type }} event-chips">
									<div class="event-container"
										(click)="openShowDialog(dayContent.date, content, symptoms)">
										<div *ngSwitchCase="'symptomLog'" class="event">
											<div class="event-time"
												[ngClass]="globalService.timeFormat === 'us' ? 'event-time-us' : 'event-time-eu'">
												{{ displayTime(content.time) }}</div>
											<div class="event-content">{{ symptomMap.get(content.key) }}
												[{{ content.pain }}/5]
											</div>
										</div>
										<div *ngSwitchCase="'log'" class="event">
											<div class="event-time"
												[ngClass]="globalService.timeFormat === 'us' ? 'event-time-us' : 'event-time-eu'">
												{{ displayTime(content.time) }}</div>
											<div class="event-content">{{ content.key }}</div>
										</div>
										<div *ngSwitchCase="'med'" class="event">
											<div class="event-time"
												[ngClass]="globalService.timeFormat === 'us' ? 'event-time-us' : 'event-time-eu'">
												{{ displayTime(content.time) }}</div>
											<div class="event-content">{{ content.key }} {{ content.quantity }}mg</div>
										</div>
										<div *ngSwitchCase="'meal'" class="event">
											<div class="event-time"
												[ngClass]="globalService.timeFormat === 'us' ? 'event-time-us' : 'event-time-eu'">
												{{ displayTime(content.time) }}</div>
											<div class="event-content">{{ content.key }}</div>
										</div>
										<div class="remove-event-container">
											<mat-icon matChipRemove *ngIf="dayContent.removable" class="remove-event"
												(click)="openDeleteDialog(dayContent.date, content)">
												cancel
											</mat-icon>
										</div>
									</div>
								</mat-chip>
								<div class="timeline-chips-padding"></div>
							</mat-chip-list>
						</div>
						<div class="symptom-overview-container"
							(click)="openEditSymptomOverviewDialog(dayContent.date)">
							<mat-icon
								class="symptom-overview-icon color-{{ symptomPainColorMap.get(dayContent.getSymptomPain(globalService.targetSymptomKey)) }}">
								fiber_manual_record</mat-icon>
						</div>
					</div>
				</div>
			</app-infinite-scroll>
		</div>

	</div>
</div>

<ng-template #loading>
	<mat-spinner></mat-spinner>
</ng-template>