.timeline-grid {
    position: absolute;
    left: 0;
    top: 3.5rem;
    width: 100%;
}

.tiles-container {
    height: 100%;
}

.timeline-tile {
    height: 30rem;

    .timeline-tile-header {
        width: 100%;
        background-color: #9E9E9E;
        color: white;
        height: 12%;
        display: table;
    
        .timeline-tile-header-date {
            height: 100%;
            width: 20%;
            font-size: 1rem;
            padding-left: 1rem;
            display: table-cell;
            vertical-align: middle;
        }
    
        .go-to-day-container {
            height: 100%;
            width: 30%;
            display: table-cell;
            vertical-align: middle;
        }
        
        .add-event-container {
            height: 100%;
            width: 5%;
            display: table-cell;
            vertical-align: middle;
        }
        
        .delete-event-container {
            height: 100%;
            width: 5%;
            display: table-cell;
            vertical-align: middle;
        }
    }
    
    .timeline-tile-content {
        width: 100%;
        height: 88.15%;
        position: relative;
        display: table;
    
        .corner-decoration {
            position: absolute;
            top: 0%;
            left: 0;
            width: 60%;
            height: 60%;
            background-color: #EBEBEB;
            border-radius: 0 0 100% 0;
            -moz-border-radius: 0 0 100% 0;
            -webkit-border-radius: 0 0 100% 0;
        }
    
        .wakeup-container {
            position: absolute;
            top: 0%;
            right: 0;
            width: 20%;
            height: 20%;
            background-color: #CECECE;
            border-radius: 0 0 0 100%;
             -moz-border-radius: 0 0 0 100%;
             -webkit-border-radius: 0 0 0 100%;
    
             .wakeup-time {
                position: relative;
                margin-top: 5%;
                margin-left: 20%;
                font-size: 120%;
                color: white;
            }
            .wakeup-icon {
                position: absolute;
                right: 20%;
                top: 40%;
                font-size: 200%;
                color: #98A2AE;
            }
        }
        
        .gotobed-container {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 20%;
            height: 20%;
            background-color: #CECECE;
            border-radius: 100% 0 0 0;
             -moz-border-radius: 100% 0 0 0;
             -webkit-border-radius: 100% 0 0 0;
    
             .gotobed-time {
                position: relative;
                margin-top: 65%;
                margin-left: 20%;
                font-size: 120%;
                color: white;
            }
            .gotobed-icon {
                position: absolute;
                right: 20%;
                top: 20%;
                font-size: 200%;
                color: #98A2AE;
            }
        }

        .symptom-overview-container {
            height: 10%;
            width: 15%;
            display: table-cell;
            vertical-align: middle;
        
            .symptom-overview-icon {
                font-size: 250%;
            }
        }
    
        .timeline-content {
            position: absolute;
            top: 0;
            width: 75%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
        .timeline-content::-webkit-scrollbar { /* Chrome, Safari and Opera */
            display: none;
        }
    }
}

.timeline-day-item-symptomLog {
    background-color: #FF3154;
}

.timeline-day-item-log {
    background-color: #98A2AE;
}

.timeline-day-item-med {
    background-color: #0096BF;
}

.timeline-day-item-meal {
    background-color: #31AE1D;
}

.event-chips {
    width: 70vw !important;
    height: 5vh !important;
    margin-left: 1rem !important;

    .event-container {
        width: 100%;
        color: white;
    
        .event {
            display: table;
            height: 5vh;
            float: left;
        
            .event-time {
                display: table-cell;
                vertical-align: middle;
            }
            .event-time-eu {
                width: 12vw;
            }
            .event-time-us {
                width: 18vw;
            }
            .event-content {
                display: table-cell;
                vertical-align: middle;
            }
            .event-content-eu {
                width: 48vw;
            }
            .event-content-us {
                width: 42vw;
            }
        }
    }
}

.remove-event-container {
    position: absolute;
    right: 5%;
    top: 15%;

    .remove-event {
        font-size: 180%;
    }
}

.timeline-chips-padding {
    height: 0.5rem;
}

.color-default {
    /* color: #31AE1D; */
    color: #93EA84;
}

.color-pain-1 {
    color: #BFBC00;
}

.color-pain-2 {
    color: #FDEC05;
}

.color-pain-3 {
    color: #FFC000;
}

.color-pain-4 {
    color: #E40026;
}

.color-pain-5 {
    color: #980019;
}
