table {
    width: 100%;
    th {
        width: 30%;
        text-align: center;
    }
    td {
        text-align: center;
    }
}

.chart-label {
    color: #212121;
    margin-left: 1rem;
}

.chart-container {
    margin-top: 2rem;
}