mat-toolbar {
	position: fixed;
	margin-bottom: 1rem;
	z-index: 150;
}

.content {
	display: block;
	width: 70%;
	margin: auto;
}

.menu-icon {
	margin-left: 1rem;
}

#menu-icon-settings {
	position: absolute;
	right: 1rem;
}

#menu-icon-tutorial {
	position: absolute;
	right: 4rem;
}

.targetSymptomKey {
	font-size: 1rem;
	font-weight: 400;
	margin-top: 1.1rem;
}