mat-toolbar {
	position: fixed;
	margin-bottom: 1rem;
	z-index: 150;
}

.content {
	display: block;
	width: 70%;
	margin: auto;
}

.menu-icon {
	margin-left: 1rem;
}

#menu-icon-import-export {
	position: absolute;
	right: 1rem;
}

#file-import {
	display: none;
}