.timeline-grid {
    position: absolute;
    left: 0;
    width: 100%;
}

.timeline-content {
    margin-top: 3rem;
    height: 47vh;
    padding-right: 8rem;
    overflow-y: auto;
}

.timeline-day-item-symptomLog {
    background-color: #FF3154;
}

.timeline-day-item-log {
    background-color: #98A2AE;
}

.timeline-day-item-med {
    background-color: #0096BF;
}

.timeline-day-item-meal {
    background-color: #31AE1D;
}