<h1 mat-dialog-title>Add a {{ data.type }} for {{ data.date | date }}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>{{ data.type }}</mat-label>
        <input matInput [(ngModel)]="data.key">
    </mat-form-field>
    <!--mat-form-field>
        <mat-label>Pain</mat-label>
        <input matInput [(ngModel)]="data.pain">
    </mat-form-field-->
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial [mat-dialog-close]="{answer: 'yes', date: data.date, key: data.key}" (click)="onYesClick()" color="primary">Add</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
</div>