/* You can add global styles to this file, and also import other style files */
/*
@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: '\'Segoe UI\', Tahoma, Geneva, Verdana, sans-serif'
);
@include mat-core($custom-typography);
*/
/* @import '~material-design-icons/iconfont/material-icons.css'; */

@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-indigo);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);

html,
body {
    height: 100%;
}

body {
	margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-modalbox {

    .mat-dialog-title {
        font-size: 1.2rem;
    }
    .mat-dialog-container {
        overflow: hidden;
    }
    .mat-dialog-content {
        overflow: hidden;
    }
    
    .empty-symptom-list-warning {
        font-size: 0.9rem;
    }

    .dialog-symptom-field {
        width: 140%;

        .dialog-add-symptom-list-button {
            margin-left: 10%;
        }
    }

    #pain-container {
        mat-slider {
            width: 70%;
        }
    
        input {
            width: 20%;
            position: absolute;
            top: 35%;
            right: 0;
        }
    }

    .dialog-content {
        overflow-y: auto;
    }

    .icon-container {
        position: absolute;
        top: 0.2rem;
        display: inline-block;
        width: 3rem;
        .icon-svg {
            margin-right: 1rem;
            width: 2rem;
        }
    }
    
    .language-label {
        margin-left: 3rem;
    }
    
}

.custom-bottom-sheet {
    padding-bottom: 2rem;
    .mat-line {
        color: #212121;
        .list-icon-container {
            display: inline-block;
            width: 3rem;
            .list-icon {
                margin-right: 1rem;
                width: 1.4rem;
                color: #212121;
                fill: #212121;
            }
        }
        .list-icon-svg {
            margin-right: 1rem;
            width: 1.4rem;
            filter: grayscale(100%) contrast(375%);
            opacity: 0.874;
        }
        .curry-chronicles-logo {
            width: 1.7rem;
        }
    }
}

.cdk-overlay-container {
    z-index: 200;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    color: rgba(0,0,0,.87);
}

ngx-material-timepicker-container {
    z-index: 500;
}

.mat-list-text {
    display: block !important;
}
/*
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #31AE1D;
}*/

mat-spinner {
    position: absolute;
    top: 30vh;
    left: 20vw;
}
