.container {
    height: 80vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    
    .title {
        font-weight: bold;
        font-size: 1.2rem;
    }
}

.content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px 0;
    
    .date {
        font-style: italic;
        margin-bottom: 10px;
        color: #666;
    }
    
    .message {
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    
    .dots {
        span {
            font-size: 2rem;
            color: #ccc;
            margin: 0 5px;
            &.active {
                color: #333;
            }
        }
    }
}

.loading-container, .empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.empty-state {
    flex-direction: column;
}
